html{
    height: 100%;
}

body {
    background-color: #26547c;
    color: #fcfcfc;
}

.mainTitle {
    font-size: 4rem;
}

.navbar {
    background-color: #06D6A0;
    border-color: rgb(4, 173, 128);
    border-style: solid;
    border-width: thick;
}

.resultContainer {
    background-color: #ef476f;
    border-color: #cf3e60;
    border-style: solid;
    border-width: thick;
    height: 100%;
}

.searchContainer {
    background-color: #ffd166;
    border-color: #d8b156;
    border-style: solid;
    border-width: thick;
}

#numGifs {
    width: 45px;
}

.gifContainer {
    background-color: #fcfcfc;
    height: 100%;
}

.resultTitleRow {
    padding-top: 1%;
}

.pink {
    height: 200%;
    overflow: scroll;
}